{% extends 'base.html' %}
{% block content %}
    <div class="container my-4 mx-2">
        <h4 style="font-family: serif;">Songs</h4>
        {% for key, value in top_artists.items %}
            {{ key }}//{{ value }}
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" alt="..." src="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
