<nav class="navbar navbar-expand-lg navbar-light bg-light py-2 px-0 justify-content-center">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" id="menu-toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" style="font-family: serif;" href="/">MusicApp</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto flex-fill text-center">
        <li class="nav-item flex-fill col-1">
          <a class="nav-link active" aria-current="page"></a>
        </li>
        <li class="nav-item flex-fill col-1">
          <a class="nav-link"></a>
        </li>
        <li class="nav-item flex-fill col-4">
          <form class="d-flex mx-auto"
                action="{% url 'search' %}"
                autocomplete="off"
                method="POST">
                {% csrf_token %}
            <style>
              input[type="search"]::-webkit-input-placeholder {
                text-align: center;
              }
            </style>
            <input class="form-control me-2"
                   type="search"
                   name="data"
                   placeholder="Search"
                   aria-label="Search"/>
          </form>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item flex-fill col-1">
            <a class="nav-link"></a>
          </li>
          <li class="nav-item flex-fill col-2">
              <a class="nav-link"> Welcome {{ user.username }}</a>
          </li>
        {% else %}
          <li class="nav-item flex-fill col-1">
            <a class="nav-link"></a>
          </li>
          <li class="nav-item flex-fill col-2">
            <a class="nav-link"
               id="modal_trigger"
               href="#modal"
               data-bs-toggle="modal"
               data-bs-target="#modal">Login or Register</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </div>
  <div class="container-fluid py-2 d-block d-sm-none">
    <form class="d-flex mx-auto w-100"
          action="{% url 'search' %}"
          autocomplete="off"
          method="POST">
          {% csrf_token %}
      <style>
              input[type="search"]::-webkit-input-placeholder {
                text-align: center;
              }
      </style>
      <input class="form-control m-auto"
             type="search"
             name="data"
             placeholder="Search"
             aria-label="Search"/>
    </form>
  </div>
</nav>

{% include 'musicApp/modal/login.html' %}
