<nav class="sidebar" id="sidebar">
    <ul class="navbar-nav py-3 px-4">
        <li class="nav-item">
            <a class="nav-link text-muted py-1 italicFont" href="/">
                <i class="fas fa-compact-disc"></i> AllSongs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted py-1 italicFont" href="{% url 'history' %}">
                <i class="fas fa-history"></i> History
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted py-1 italicFont" href="{% url 'liked_songs' %}">
                <i class="fa-solid fa-heart"></i> LikedSongs
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-muted py-1 italicFont" href="{% url 'logout' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> LogOut
                </a>
            </li>
        {% else %}
            <li class="nav-item d-block d-sm-none"
                id="modal_trigger"
                href="#modal"
                data-bs-toggle="modal"
                data-bs-target="#modal">
                <a class="nav-link text-muted py-1 italicFont">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> LogIn
                </a>
            </li>
        {% endif %}
    </ul>
</nav>