<nav class="sidebar" id="sidebar">
    <ul class="navbar-nav py-3 px-4">
        <li class="nav-item">
            <a class="nav-link text-muted py-1">
                <i class="fas fa-compact-disc"></i> AllSongs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted py-1">
                <i class="fas fa-history"></i> History
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted py-1">
                <i class="fa-solid fa-heart"></i> LikedSongs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted py-1">
                <i class="fa-solid fa-list"></i> PlayList
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-muted py-1" href="{% url 'logout' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> LogOut
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
