@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #eee;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  padding-top: 2rem;
  width: 300px;
  height: 100%;
  background: #e2dbdb;
}

.artist_img {
  border-radius: 50%;
}

.content-main {
  display: flex;
}

.carousel-cell {
  height: 270px;
}

.list {
  margin: 0px 10px;
  height: 200px;
  width: 150px;
}

/*Artist list*/

.artist_list {
  border-radius: 4%;
  margin-top: 20px;
}

.artist_list img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: block;
  object-fit: cover;
}

.artist_list img:hover {
  opacity: 0.3;
}

.artist_list p {
  text-align: center;
  margin-top: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

/*Track list*/

.track_list {
  margin-top: 10px;
}

.track_list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%; 
}

.track_list img:hover {
  opacity: 0.3;
}

.customFont {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 0.9rem;
  color: rgb(71, 70, 70);
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
  max-height: 70px;
}

.fa-heart.active{
  font-size: 25px;
  color: red;
}

.fa-heart:hover{
  font-size: 35px;
}

iframe{
  width: 100%;
  height: 80px;
}

footer{
  width: 100%;
  margin-top: auto;
}

.footer{
  text-align: center;
}


@media screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    width: 300px;
    left: -300px;
    transition: left 0.4s ease;
    top: 110px;
    z-index: 1;
  }

  .sidebar.show {
    left: 0px;
  }

  .feat-show {
    transition: all 0.5s;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}