{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'css/icons/all.css' %}"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/flickity.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>musicApp</title>
    </head>
    <body>
        <!-- Nav tabs -->
        {% include 'musicApp/navbar.html' %}
        <div class="content-main">
            {% include 'musicApp/slidenv.html' %}
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        
        {% comment %} {% include 'musicApp/footer.html' %} {% endcomment %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.leanModal.min.js' %}"></script>
        <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
